.navbar {
    font-size: 33px;
    grid-area: n;
    border: 1px white dashed;
    padding-top: 20px;

}

.item a {
    text-decoration: none;
    color: black;
}

.item a.activeLink {
    color: white;
}
