div#root,
html,
body {
    display: grid;
    justify-items: center;
    height: 100%;
    margin: 0;
}

body {
    background: url("./img/1594754323_16.jpg") 0 0 / cover no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 33px;
}

.app_wrapper {
    min-height: 100%;
    width: 1200px;
    text-align: center;
    display: grid;
    grid-template: minmax(auto, 100px) 1fr minmax(auto, 100px) / minmax(auto, 200px) minmax(auto, auto);
    grid-template-areas:
            "h h"
            "n c"
            "f f";
    gap: 10px;
}

