.app_wrapper {
    display: grid;
    height: 900px;
    gap: 10px;
    margin: 10px 400px 10px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px minmax(200px, auto) 100px;
    grid-template-areas:
            "h h"
            "n c"
            "f f";
}